*.swp
#*
'#*
*#
*~
/dotfiles/emacs/.emacs.d/history
/dotfiles/emacs/.emacs.d/emacs-desktop
/dotfiles/emacs/.emacs.d/tramp
/dotfiles/emacs/.emacs.d/recentf
/dotfiles/emacs/.emacs.d/smex-items
/dotfiles/emacs/.emacs.d/projectile-bookmarks.eld
/dotfiles/emacs/.emacs.d/anaconda-mode/
/dotfiles/emacs/.emacs.d/auto-save-list/
/dotfiles/emacs/.emacs.d/elpa/
/dotfiles/emacs/.emacs.d/persp-confs/
/dotfiles/emacs/.emacs.d/org-gcal
/dotfiles/emacs/.emacs.d/projectile.cache
/dotfiles/emacs/.emacs.d/straight/build
/dotfiles/emacs/.emacs.d/straight/build-cache.el
/dotfiles/emacs/.emacs.d/straight/repos
/dotfiles/emacs/.emacs.d/elpa
/dotfiles/emacs/.emacs.d/quelpa
/dotfiles/emacs/.emacs.d/url
/dotfiles/emacs/.emacs.d/request
/dotfiles/emacs/.emacs.d/eshell
/dotfiles/emacs/.emacs.d/bookmarks
/dotfiles/emacs/.emacs.d/transient
/dotfiles/emacs/.emacs.d/eln-cache
/dotfiles/emacs/.emacs.d/.*


/dotfiles/ranger/src/ranger/bookmarks
/dotfiles/ranger/src/ranger/history

xmonad.hi
xmonad.o
xmonad.errors
xmonad-x86_64-linux

.stack-work
