*.swp
#*
'#*
*#
emacs/src/history
emacs/src/emacs-desktop
emacs/src/tramp
emacs/src/recentf
emacs/src/smex-items
emacs/src/projectile-bookmarks.eld
emacs/src/anaconda-mode/
emacs/src/auto-save-lit/
emacs/src/elpa/
emacs/src/persp-confs/
emacs/src/straight/
emacs/src/straight/
