*.swp
#*
'#*
*#
*~
/emacs/src/emacs.d/history
/emacs/src/emacs.d/emacs-desktop
/emacs/src/emacs.d/tramp
/emacs/src/emacs.d/recentf
/emacs/src/emacs.d/smex-items
/emacs/src/emacs.d/projectile-bookmarks.eld
/emacs/src/emacs.d/anaconda-mode/
/emacs/src/emacs.d/auto-save-list/
/emacs/src/emacs.d/elpa/
/emacs/src/emacs.d/persp-confs/
/emacs/src/emacs.d/org-gcal
/emacs/src/emacs.d/projectile.cache
/emacs/src/emacs.d/straight/build
/emacs/src/emacs.d/straight/repos
/emacs/src/emacs.d/elpa
/emacs/src/emacs.d/quelpa
/emacs/src/emacs.d/url
/emacs/src/emacs.d/request
/emacs/src/emacs.d/eshell
/emacs/src/emacs.d/bookmarks
/emacs/src/emacs.d/transient
/emacs/src/emacs.d/eln-cache


ranger/src/ranger/bookmarks
ranger/src/ranger/history

xmonad.hi
xmonad.o
xmonad.errors
xmonad-x86_64-linux

.stack-work
